[{:itonami.blueprint/social-impact [:materials-testing :quality-assurance :engineering-validation], :itonami.blueprint/domain :lab/engineering-science, :itonami.blueprint/required-technologies [:robotics :identity :forms :dmn :bpmn :audit-ledger], :itonami.blueprint/isco-08 "3119", :itonami.blueprint/name "Lab Support: Physical & Engineering Science Technicians", :itonami.blueprint/governor :engineering-governor, :itonami.blueprint/robotics true, :db/id -1, :itonami.blueprint/status :public-oss, :itonami.blueprint/id "cloud-itonami-isco-3119", :itonami.blueprint/license "AGPL-3.0-or-later", :itonami.blueprint/maturity :implemented}]
